global
    daemon
    maxconn 4096

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:8080
    default_backend socks5_backend

backend socks5_backend
    server sock1 213.139.223.8:9399 check
    server sock2 213.139.222.64:9586 check
    server sock3 178.171.69.162:8000 check
    http-request set-header Proxy-Authorization Basic\ FdWuxM:E7sdTQ
